body{
  background:#90EE90;
  align-items:center;
}



#name {
  font-size: 60px;
  color: #ff69b4;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2px;
  transition: 0.3s;
  text-shadow: 0 0 30px #ff006e;
  animation: pulse 2s ease-in-out infinite;
  letter-spacing: 2px;
  cursor: pointer
}

#name:hover {
  transform: scale(1.1);
  color: #da70d6;
}
